[Unit]
Description=medicine
After=network.target
Requires=mosquitto.service

[Service]
ExecStart=/github/medicine/install/medicine.bin \
    -creds=/github/medicine/creds.json
StandardOutput=inherit
StandardError=inherit
Restart=always
User=dorian

[Install]
WantedBy=multi-user.target